.logger{
    height:  calc(100% - 4px);
    width: calc(100% - 26px);
    padding: 5px 13px 0 13px;
    color: rgba(60, 60, 60);
    background-color: rgba(245,245,245);
    line-height: 1.4em;
    font-size: 13px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
    overflow: auto;
}

.logger p{
    word-break: break-all;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}