.navbar{
  	display: flex;
 	align-items: flex-end;
    height: 60px;
    border-bottom: 2px solid rgba(180,180,180, 0.5);
}

.navbar h2{
	width: 20%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 900;
    padding: 0 60px 14px 30px;
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80%;
    flex-direction: row;
}

.navbar ul li {
    color: rgba(60,60,60, 1);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    float: right;
    padding: 0 60px 14px 30px;
}

.navbar ul li a{
	color: rgba(255,114,0, 1);
	text-decoration: none;
    vertical-align: middle;
}

.navbar ul li a:hover{
 	color: rgba(255, 80, 0, 1);
}